[submodule "vendor/blitz"]
	path = vendor/blitz
	url = https://github.com/docoxide/blitz.git
[submodule "vendor/parley"]
	path = vendor/parley
	url = https://github.com/linebender/parley.git
[submodule "vendor/stylo"]
	path = vendor/stylo
	url = https://github.com/docoxide/stylo.git
